<footer class="mt-auto flex items-center w-full justify-between mb-4 sm:text-xs text-footer-text">
	<div>
		© Adrian Balbalosa 2026
	</div>
	<div>Powered by <a href="https://astro.build/">Astro</a></div>
</footer>

